html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.background {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100vh;
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.total {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.5);
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  height: 30rem;
  border-radius: 1rem;
}
.avata {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: url(images/i28.jpg);
  z-index: 2;
  right: 2rem;
  top: 2rem;
  border-radius: 1rem;
  background-size: cover;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: #333;
  border-radius: 1rem;
}
.avata-nav {
  width: 7rem;
  height: 7rem;
  background: url(images/i28.jpg);
  background-size: cover;
  border-radius: 0.5rem;
  margin: 2rem 0 0 2rem;
}
.time {
  margin: 1rem 1rem;
  font-size: 1.5em;
  color: #fff;
}
.name {
  margin: 0 0 0 11rem;
  transform: translateY(-5rem);
  font-size: 2em;
  color: #fff;
}
.wechat {
  margin: 0 0 0 11rem;
  transform: translateY(-4rem);
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.5);
}
.theend {
  margin: 3rem 0 0 0;
  transform: translateY(-4rem);
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
@media only screen and (max-width: 740px) {
  html {
    font-size: 35%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .background {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100vh;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  .overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .total {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.5);
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 60rem;
    height: 30rem;
    border-radius: 1rem;
  }
  .avata {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: url(images/i28.jpg);
    z-index: 2;
    right: 2rem;
    top: 2rem;
    border-radius: 1rem;
    background-size: cover;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: #333;
    border-radius: 1rem;
  }
  .avata-nav {
    width: 7rem;
    height: 7rem;
    background: url(images/i28.jpg);
    background-size: cover;
    border-radius: 0.5rem;
    margin: 2rem 0 0 2rem;
  }
  .time {
    margin: 1rem 1rem;
    font-size: 1.5em;
    color: #fff;
  }
  .name {
    margin: 0 0 0 11rem;
    transform: translateY(-5rem);
    font-size: 2em;
    color: #fff;
  }
  .wechat {
    margin: 0 0 0 11rem;
    transform: translateY(-4rem);
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
  }
  .theend {
    margin: 3rem 0 0 0;
    transform: translateY(-4rem);
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
}
